/* Variables */
/* Mixins */
/* Common settings */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #495555;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Common styles */
button {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  cursor: pointer;
  height: 32px;
  width: 150px;
  transition: 0.2s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
}
button:hover {
  background-color: #9be0d1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  z-index: 9;
  outline: none;
}
button:active {
  padding: 5px 10px;
  font-size: 14px;
  z-index: 9;
  width: 140px;
  color: #574a28;
}
button:focus {
  outline: none;
}

input {
  border-radius: 4px;
  padding: 0 6px;
  font-size: 15px;
  border: 2px solid #383838;
}
input:focus {
  outline: none;
}

.main-section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 30px 20px;
}

.close-btn {
  position: absolute;
  right: -30px;
  top: 20px;
  height: 20px;
  width: 20px;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.5);
  background-color: #0059ff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.close-btn:hover {
  transform: scale(1.4);
  background-color: #d8260f;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
}
.close-btn:hover::after, .close-btn:hover::before {
  background-color: #f8d5d5;
}
.close-btn:active {
  transform: scale(1.1);
  background-color: #610000;
}
.close-btn::after, .close-btn::before {
  content: "";
  height: 12px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.2s;
}
.close-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* App */
/* Popup */
.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-confirm {
  text-align: center;
  background-color: #518cf8;
}
.popup-confirm_buttons {
  height: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Menu */
.menu {
  height: 300px;
  width: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  font-size: 50px;
  display: flex;
  align-items: center;
  flex: 1;
  color: #a3eeee;
}
.menu-buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menu-btn:first-child {
  margin-bottom: 10px;
}

/* Question / result */
.question-block,
.result-block {
  width: 300px;
  height: 380px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.2);
}

.result-block {
  display: flex;
  flex-direction: column;
  background-color: #3d8dc2;
}
.result-block h3 {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 26px;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-block h3::before, .result-block h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 4px;
  right: 50%;
  transform: translateX(50%);
}
.result-block h3::before {
  top: 0px;
}
.result-block h3::after {
  bottom: 0px;
}
.result-block p {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 22px;
  padding: 10px 0;
}
.result-block button {
  margin: 4px auto;
}
.result-block button:last-child {
  margin-bottom: 0;
}
.result-score {
  flex: 1;
}
.result-buttons {
  height: 100px;
  flex: 1;
}

.question-block {
  background-color: brown;
}
.question-block h3 {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 26px;
  margin-bottom: 15px;
}
.question-buttons {
  position: absolute;
  bottom: 60px;
  right: 50%;
  transform: translateX(50%);
}
.question-buttons button:first-child {
  margin-bottom: 10px;
}

/* Extended results of the completed task */
.extended-results {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 95%;
  height: 95%;
  background-color: #eabcee;
  padding: 22px 40px;
}
.extended-results > .close-btn {
  right: 0;
  top: 30px;
}
.extended-results_wrapper {
  display: flex;
  justify-content: space-between;
}
.extended-results .result-list {
  min-height: 600px;
  text-align: center;
  flex: 1 1 0px;
  margin-right: 10px;
  position: relative;
}
.extended-results .result-list:first-child::after, .extended-results .result-list:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #b32121;
  border-radius: 4px;
}
.extended-results .result-list:last-child {
  margin-right: 0;
}
.extended-results h3 {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 26px;
  position: relative;
  color: #a82525;
  text-shadow: none;
  margin-bottom: 25px;
}
.extended-results h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #b32121;
}
.extended-results li {
  font-weight: 500;
  font-size: 18px;
  color: #0e5677;
  display: inline-block;
  min-height: 40px;
  margin: 8px 0;
}
.extended-results li span:first-child::after {
  content: " -";
}

/* Vocabulary block */
.vocabulary-block {
  background-color: burlywood;
  width: 500px;
  height: 680px;
}
.vocabulary-block h3 {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 26px;
  text-align: center;
  text-shadow: none;
  margin-bottom: 20px;
  color: #da6314;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.vocabulary-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.vocabulary-add label {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 22px;
  text-shadow: none;
}
.vocabulary-add input {
  margin-bottom: 15px;
}
.vocabulary-list {
  border-radius: 8px;
  border: 10px solid #fff;
  background-color: #fff;
  height: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.vocabulary-list li {
  font-weight: 500;
  font-size: 18px;
  color: #0e5677;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
}
.vocabulary-list li span {
  display: flex;
  align-items: center;
}
.vocabulary-list li span:last-child {
  text-align: right;
}
.vocabulary-list li span button {
  width: 5px;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
