/* Common settings */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Common tags/classes */
button {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  cursor: pointer;
  padding: 6px 10px;
  width: 150px;
  transition: 0.2s;
}
button:hover {
  color: #322b97;
  font-size: 16px;
  outline: none;
}
button:active {
  padding: 5px 10px;
  font-size: 14px;
  width: 140px;
  color: #0644f0;
}
button:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  right: -20px;
  top: -20px;
  height: 20px;
  width: 20px;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.5);
  background-color: #0059ff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.close-btn:hover {
  right: -28px;
  top: -28px;
  height: 28px;
  width: 28px;
  background-color: #d8260f;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
}
.close-btn:hover::after, .close-btn:hover::before {
  width: 4px;
  height: 17px;
  background-color: #f8d5d5;
}
.close-btn:active {
  right: -23px;
  top: -23px;
  height: 23px;
  background-color: #610000;
  width: 23px;
}
.close-btn:active::after, .close-btn:active::before {
  width: 3px;
  height: 12px;
}
.close-btn::after, .close-btn::before {
  content: "";
  height: 12px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.2s;
}
.close-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu {
  background-color: #12f79f;
  height: 300px;
  border-radius: 8px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
}
.menu-title {
  display: flex;
  align-items: center;
  flex: 1;
  color: #d0dd18;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
}
.menu-buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menu-btn {
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.5);
}
.menu-btn:first-child {
  margin-bottom: 10px;
}

/* Question / result */
.question-block,
.result-block {
  border-radius: 4px;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 380px;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result-block {
  background-color: #3d8dc2;
  display: flex;
  flex-direction: column;
  text-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.5);
}
.result-block h2 {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-block h2::before, .result-block h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 4px;
  right: 50%;
  transform: translateX(50%);
}
.result-block h2::before {
  top: 0px;
}
.result-block h2::after {
  bottom: 0px;
}
.result-block p {
  font-size: 22px;
  font-weight: 500;
  width: 300px;
  padding: 11px 0;
}
.result-block button {
  margin: 4px auto;
}
.result-block button:last-child {
  margin-bottom: 0;
}
.result-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.result-buttons {
  min-height: 100px;
  max-height: 100px;
  flex: 1;
}

.question-block {
  background-color: brown;
}
.question-block h2 {
  font-size: 21px;
  margin-bottom: 15px;
  font-weight: 500;
}
.question-buttons {
  position: absolute;
  bottom: 60px;
  right: 50%;
  transform: translateX(50%);
}
.question-buttons button:first-child {
  margin-bottom: 10px;
}

/* Extended results of the completed task */
.extended-results {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 660px;
  height: 600px;
  background-color: #eabcee;
  padding: 22px 40px;
  border-radius: 8px;
  box-shadow: 0.5em 0.5em rgba(109, 109, 109, 0.5);
}
.extended-results .result-list {
  text-align: center;
  flex: 1 1 0px;
  margin-right: 10px;
  position: relative;
}
.extended-results .result-list:first-child::after, .extended-results .result-list:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #b32121;
  border-radius: 4px;
}
.extended-results .result-list:last-child {
  margin-right: 0;
}
.extended-results h3 {
  font-size: 25px;
  position: relative;
  font-weight: 600;
  color: #a82525;
  text-shadow: 0.12em 0.12em rgba(155, 71, 71, 0.5);
  margin-bottom: 25px;
}
.extended-results h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #b32121;
}
.extended-results li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 40px;
  margin: 5px 0;
  color: #0e5677;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
