/* Variables */
$bg-menu: #12f79f;
$color-text_light: #fff;
$color-text_menu: #a3eeee;
$color-text_btn: #841111;
$color-text_li: rgb(14, 86, 119);

/* Mixins */
@mixin h2-text() {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  font-size: 50px;
}

@mixin h3-text() {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 26px;
}

@mixin p-text() {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 22px;
}

@mixin li-text() {
  font-weight: 500;
  font-size: 18px;
  color: $color-text_li;
}

/* Common settings */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #495555;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Common styles */
button {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  cursor: pointer;
  height: 32px;
  width: 150px;
  transition: 0.2s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
  &:hover {
    background-color: #9be0d1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    z-index: 9;
    outline: none;
  }
  &:active {
    padding: 5px 10px;
    font-size: 14px;
    z-index: 9;
    width: 140px;
    color: rgb(87, 74, 40);
  }
  &:focus {
    outline: none;
  }
}

input {
  border-radius: 4px;
  padding: 0 6px;
  font-size: 15px;
  border: 2px solid #383838;
  &:focus {
    outline: none;
  }
}

.main-section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 30px 20px;
}

.close-btn {
  position: absolute;
  right: -30px;
  top: 20px;
  height: 20px;
  width: 20px;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 89, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: scale(1.4);
    background-color: rgb(216, 38, 15);
    box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
    &::after,
    &::before {
      background-color: rgb(248, 213, 213);
    }
  }
  &:active {
    transform: scale(1.1);
    background-color: rgb(97, 0, 0);
  }
  &::after,
  &::before {
    content: "";
    height: 12px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.2s;
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* App */

/* Popup */
.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &-confirm {
    text-align: center;
    background-color: rgb(81, 140, 248);
    &_buttons {
      height: 30px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

/* Menu */
.menu {
  height: 300px;
  width: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    @include h2-text();
    display: flex;
    align-items: center;
    flex: 1;
    color: $color-text_menu;
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &-btn:first-child {
    margin-bottom: 10px;
  }
}

/* Question / result */
.question-block,
.result-block {
  width: 300px;
  height: 380px;
  color: $color-text_light;
  text-align: center;
  box-shadow: 0 0 25px 2px rgb(0 0 0 / 20%);
}

.result {
  &-block {
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 141, 194);
    h3 {
      @include h3-text();
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        border-radius: 4px;
        right: 50%;
        transform: translateX(50%);
      }
      &::before {
        top: 0px;
      }
      &::after {
        bottom: 0px;
      }
    }
    p {
      @include p-text();
      padding: 10px 0;
    }
    button {
      margin: 4px auto;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-score {
    flex: 1;
  }
  &-buttons {
    height: 100px;
    flex: 1;
  }
}

.question {
  &-block {
    background-color: brown;
    h3 {
      @include h3-text();
      margin-bottom: 15px;
    }
  }
  &-buttons {
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
    button:first-child {
      margin-bottom: 10px;
    }
  }
}

/* Extended results of the completed task */
.extended-results {
  & > .close-btn {
    right: 0;
    top: 30px;
  }
  overflow-y: scroll;
  overflow-x: hidden;
  width: 95%;
  height: 95%;
  background-color: rgb(234, 188, 238);
  padding: 22px 40px;
  &_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .result-list {
    min-height: 600px;
    text-align: center;
    flex: 1 1 0px;
    margin-right: 10px;
    position: relative;
    &:first-child::after,
    &:nth-child(2)::after {
      content: "";
      position: absolute;
      right: -5px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: rgb(179, 33, 33);
      border-radius: 4px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  h3 {
    @include h3-text();
    position: relative;
    color: rgb(168, 37, 37);
    text-shadow: none;
    margin-bottom: 25px;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      left: 0;
      height: 1px;
      background-color: rgb(179, 33, 33);
    }
  }
  li {
    @include li-text();
    display: inline-block;
    min-height: 40px;
    margin: 8px 0;
    span:first-child::after {
      content: " -";
    }
  }
}

/* Vocabulary block */
.vocabulary {
  &-block {
    background-color: burlywood;
    width: 500px;
    height: 680px;
    h3 {
      @include h3-text();
      text-align: center;
      text-shadow: none;
      margin-bottom: 20px;
      color: #da6314;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  &-add {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    label {
      @include p-text();
      text-shadow: none;
    }
    input {
      margin-bottom: 15px;
    }
  }
  &-list {
    border-radius: 8px;
    border: 10px solid #fff;
    background-color: #fff;
    height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    li {
      @include li-text();
      padding: 6px 10px;
      display: flex;
      justify-content: space-between;
      span {
        display: flex;
        align-items: center;
        &:last-child {
          text-align: right;
        }
        button {
          width: 5px;
          box-shadow: none;
        }
      }
    }
  }
}
