/* Common settings */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
button,
input {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 8px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}
/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Common tags / classes */
button {
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #111111;
    cursor: pointer;
    padding: 6px 10px;
    width: 150px;
    transition: 0.2s;
    &:hover {
        color: rgb(50, 43, 151);
        font-size: 16px;
        outline: none;
    }
    &:active {
        padding: 5px 10px;
        font-size: 14px;
        width: 140px;
        color: rgb(6, 68, 240);
    }
    &:focus {
        outline: none;
    }
}

input {
    border-radius:4px;
    padding: 0 6px;
    font-size: 15px;
    border:2px solid #383838;
    &:focus {
        outline: none;
    }
}

.block {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
    border-radius:8px;
    padding: 30px 20px;
}

.close-btn {
    position: absolute;
    right: -20px;
    top: -20px;
    height: 20px;
    width: 20px;
    box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 89, 255);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    &:hover {
        right: -28px;
        top: -28px;
        height: 28px;
        width: 28px;
        background-color: rgb(216, 38, 15);
        box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.5);
        &::after,
        &::before {
            width: 4px;
            height: 17px;
            background-color:rgb(248, 213, 213);
        }
    }
    &:active {
        right: -23px;
        top: -23px;
        height: 23px;
        background-color: rgb(97, 0, 0);
        width: 23px;
        &::after,
        &::before {
            width: 3px;
            height: 12px;
        }
    }
    &::after,
    &::before {
        content:'';
        height: 12px;
        width: 3px;
        background-color:#fff;
        position: absolute;
        left: 50%;
        top:50%;
        transition: .2s;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

/* Popup */
.popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.5);
    &-confirm {
        text-align: center;
        background-color:rgb(81, 140, 248);
        &_buttons {
            height: 30px;
            margin-top: 30px;
            display: flex;
            align-items:center;
            justify-content: space-between;
        }
    }
}

/* Menu */
.menu {
    background-color:rgb(18, 247, 159);
    height: 300px;
    width: 500px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items:center;
    &-title {
        display: flex;
        align-items:center;
        flex:1;
        color:rgb(208, 221, 24);
        text-shadow:0.1em 0.1em rgba(0,0,0,0.5);
    }
    &-buttons {
        display: flex;
        flex-direction: column;
        flex:1;
    }
    &-btn {
        box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.5);
    }
    &-btn:first-child {
        margin-bottom: 10px;
    }
}

/* Question / result */
.question-block,
.result-block {
    width: 300px;
    height: 380px;
    color: #fff;
    text-align: center;
}

.result {
    &-block {
        background-color: rgb(61, 141, 194);
        display: flex;
        text-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.5);
        flex-direction: column;
        h2 {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before,
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                border-radius: 4px;
                right: 50%;
                transform: translateX(50%);
            }
            &::before {
                top: 0px;
            }
            &::after {
                bottom: 0px;
            }
        }
        p {
            font-size: 22px;
            font-weight: 500;
            width: 300px;
            padding: 11px 0;
        }
        button {
            margin: 4px auto;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    &-buttons {
        min-height: 100px;
        max-height: 100px;
        flex: 1;
    }
}

.question {
    &-block {
        background-color: brown;
        h2 {
            font-size: 21px;
            margin-bottom: 15px;
            font-weight: 500;
        }
    }
    &-buttons {
        position: absolute;
        bottom: 60px;
        right: 50%;
        transform: translateX(50%);

        button:first-child {
            margin-bottom: 10px;
        }
    }
}

/* Extended results of the completed task */
.extended-results {
    & > .close-btn {
        right: 0;
        top: 0;
    }
    overflow-y:scroll;
    overflow-x: hidden;
    width: 660px;
    height: 600px;
    background-color: rgb(234, 188, 238);
    padding: 22px 40px;
    &_wrapper {
        display: flex;
        justify-content: space-between;
    }
    .result-list {
        min-height: 600px;
        text-align: center;
        flex: 1 1 0px;
        margin-right: 10px;
        position: relative;
        &:first-child::after,
        &:nth-child(2)::after {
            content: "";
            position: absolute;
            right: -5px;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: rgb(179, 33, 33);
            border-radius: 4px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    h3 {
        font-size: 25px;
        position: relative;
        font-weight: 600;
        color: rgb(168, 37, 37);
        text-shadow: 0.12em 0.12em rgba(155, 71, 71, 0.5);
        margin-bottom: 25px;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            right: 0;
            left: 0;
            height: 1px;
            background-color: rgb(179, 33, 33);
        }
    }
    li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 40px;
        margin: 5px 0;
        color: rgb(14, 86, 119);
        font-weight: 500;
    }

}

/* Vocabulary block */
.vocabulary {
    &-block {
        background-color:burlywood;
        width: 460px;
        height: 680px;
        h2 {
            text-align: center;
            font-size: 21px;
            margin-bottom: 20px;
            color:#252525;
        }
    }
    &-add {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        label {
            font-weight: 500;
            font-size: 20px;
        }
        input {
            margin-right: 10px;
            margin-bottom: 15px;
        }
        button {
            width: 100px;
        }
    }
    &-list {
        padding: 10px;
        border-radius: 8px;
        margin: 0 auto;
        border:10px solid #fff;
        background-color:#fff;
        height: 340px;
        overflow-x: hidden;
        overflow-y: scroll;
        li {
            padding: 6px 20px;
            font-weight: 500;
            color:rgb(56, 56, 56);
            text-align: right;
            display: flex;
            justify-content: space-between;
            span {
                color:dodgerblue;
            }
        }
    }
}